/*=====================================================================*/
/* New Eternal Theme | Post-Render Styling | November 2012 */
/*=====================================================================*/

select * {
    display: block !important;
}
option * {
    display: block !important;
}
.clear{ clear:both; }
.hidden{ display: none }
.smallTextDrop{ text-shadow: 1px 1px 5px rgba(0,0,0,.5); }
.normalTextDrop { text-shadow: 2px 2px 5px #000; }
.strikethrough { text-decoration: line-through; color: rgba(255,255,255,0.3) !important;}

#sidebar li, #singleColLayout li, #main li
{
    list-style-type: square;
    margin-left: 30px;   
}
#newsActions
{
    margin: 0 auto;
    text-align:center;
}
#newsActions li
{
    list-style: none;
    display: inline;
    margin-right: 30px;
}