.downloadImage, .registerImage,  .forumImage, .wikiImage, .voteImage, .donateImage{
    width: 230px;
    height: 100px;

    box-shadow:3px 3px 6px rgba(0, 0, 0, .7) inset;

    margin-bottom: 20px;
}
    .downloadImage:hover, .registerImage:hover, .forumImage:hover, .wikiImage:hover, .voteImage:hover, .donateImage:hover {
        cursor: pointer;
    }
.downloadImage {
    background: url('../Assets/Roll/downloadNormal.png');
}
    .downloadImage:hover {
        background: url('../Assets/Roll/downloadHover.png');
    }
.registerImage {
    background: url('../Assets/Roll/registerNormal.png');
}
    .registerImage:hover {
        background: url('../Assets/Roll/registerHover.png');
    }
.forumImage {
    background: url('../Assets/Roll/forumsNormal.png');
}
    .forumImage:hover {
        background: url('../Assets/Roll/forumsHover.png');
    }
.voteImage {
    background: url('../Assets/Roll/voteNormal.png');
}
    .voteImage:hover {
        background: url('../Assets/Roll/voteHover.png');
    }
.donateImage {
    background: url('../Assets/Roll/donateNormal.png');
}
    .donateImage:hover {
        background: url('../Assets/Roll/donateHover.png');
    }
.wikiImage {
    background: url('../Assets/Roll/wikiNormal.png');
}
    .wikiImage:hover {
        background: url('../Assets/Roll/wikiHover.png');
    }
