.tooltip {
	border-bottom: 1px dotted #fff; color: #fff !important; outline: none;
	cursor: help; text-decoration: none;
	position: relative;
}
.tooltip span 
{
    font-size: 12px;
	margin-left: -999em;
	position: absolute;
}
.tooltip:hover span 
{
    
    font-size: 10px;
    /*
	border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; */
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Century Gothic, sans-serif;
	position: absolute; left: 1em; top: 2em; z-index: 99;
	margin-left: 0; width: 250px;
}

.imgTooltip {
	cursor: help; text-decoration: none;
    display: inline-block;
	position: relative;
}
    .imgTooltip img {
        display: inline-block;
    }
.imgTooltip span 
{
    font-size: 12px;
	margin-left: -999em;
	position: absolute;
}
.imgTooltip:hover span 
{
    text-align: center !important;
    font-size: 12px;
    /*
	border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; */
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Century Gothic, sans-serif;
	position: absolute; left: 3em; top:0; z-index: 99;
	margin-left: 0; width: 100px;
}

.minitooltip 
{
    font-size: 8px !important;
	border-bottom: 1px dotted red; color: red; outline: none;
	cursor: help; text-decoration: none;
	position: relative;
}
.minitooltip span 
{
    font-size: 8px !important;
	margin-left: -999em;
	position: absolute;
}
.minitooltip:hover span {
    /*
	border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; */
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-size: 8px !important;
	font-family: Century Gothic, sans-serif;
	position: absolute; left: 1em; top: 2em; z-index: 99;
	margin-left: 0; width: 125px;
}

.tooltip:hover img {
	border: 0; margin: -10px 0 0 -55px;
	float: left; position: absolute;
}
.tooltip:hover em {
	font-family: Century Gothic, sans-serif; font-size: 1.2em; font-weight: bold;
	display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 8px 10px; line-height: 1.5;}
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html abbr:hover { background: transparent; }
.classic {background: rgba(255,192,54, 0.8); color:black; border: 1px solid #000; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}

.warning { background: #FFFFAA; border: 1px solid #FFAD33; }