div.sticky-queue
	{ 
	z-index: 999;
	position:fixed;
	width:400px;
	}
div.sticky-note
	{ z-index: 999;padding-right:20px; }
div.sticky
	{
	z-index: 999;
	font-size:12px;
	color:#eee;
	display:none;
	padding:10px;
	position:relative;
	margin-bottom: 10px;
	background: rgba(0,75,41,0.8);
	border:1px solid #00D575;
	box-shadow:2px 2px 5px rgba(0,0,0,0.8);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.9);
    /*
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-top-right:6px;
        */
	}
    div.sticky a:link, div.sticky a, div.sticky a:visited {
        color: white;
        text-decoration: underline;
    }
        div.sticky a:hover {
            color:yellow;
            text-decoration:underline;
        }
img.sticky-close
	{
	position:absolute;
	top:10px;
	right:10px;
	height:14px;
	width:14px;
	cursor:pointer;
	}
	
	
.top-right
	{ right:20px; }
.top-left
	{ left:20px; }
.top-right, .top-left
	{
	top:-2px;
	border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	}
.bottom-right
	{ 
    /* right:50px; bottom: 50px; */
    top: 70px;
    right: 50px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    -moz-border-radius: 5px;
    -moz-border-top-left-radius: 0px;
    /*margin-left: -205px;*/
    }
.bottom-left
	{ left:20px; }
.bottom-right, .bottom-left
	{
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-top-right:6px;
	}

.border-top-right, .border-top-left
	{ }
.border-bottom-right, .border-bottom-left
	{  }