/*=====================================================================*/
/* New Eternal Theme | Attribute Colors | November 2012 */
/*=====================================================================*/

/* BASE OFF #222*/

#footer, .menu
{
    background: #202020;
}
.menu {
    background: #fff;
}


/*#footer
{
    border:1px solid #65A5D1;
}
#topbar
{
    border-bottom:1px solid #65A5D1;   
}
.menu{border:1px solid #65A5D1;}*/
#topBar .leftFloat, .topLinks:link, .topLinks:visited, .topLinks a, .menu li a, footer .ending
{
    color: #FFF; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
.registerButton, .loginButton, .registerButtons, .submitButtons
{
    background: rgba(1, 91, 134, .9);
    color: rgba(255,255,255,0.7);
}
#sidebar .box:link, #sidebar .box:visited, #sidebar .box a, #main .box a, #main .box:visited, #main .box:link,
.minibox a, .minibox:link, .minibox:visited, #singleColLayout .box a, #singleColLayout .box a:visited, #singleColLayout .box a:link
{
    color: rgba(255,255,255,0.7);
}   
.registerButton:hover, .loginButton:hover, .registerButtons:hover, .submitButtons:hover
{
    background: rgba(1, 91, 160, .9);
    color: #FFFF26;
}
.classic
{
    background: rgba(1, 91, 160, .8);
    color: White;
}
.registerWindow h2, .loginWindow h2
{
    color: rgba(1, 91, 134, .6);
}